@media (max-width: 1199.5px) {
    /* header */ 
    .header_wrapper .navbar-nav .nav-link{
        font-size: 1rem;
    }
    /* top banner */ 
    .banner_wrapper .animate-img .aimg1{
        left:-3.125rem;
    }
    /* achievements */ 
    .fourthSection .card{
        width:100%;
    }

}

@media (max-width:991px) {
    /* home */ 
    .banner_wrapper .top-right-sec{
        padding: 45px;
    }
    /* 2 Navbar */ 
    .header-scrolled{
        height:auto;
    }
    .header_wrapper .menu-navbar-nav{
        text-align: center;
    }
    .header_wrapper .nav-item .nav-link{
        margin-top:.9375rem;
    }
     /* banner */ 
     .banner_wrapper p{
        max-width: 100%;
    }
    .fourthSection .about-achieve:nth-child(1),
    .fourthSection .about-achieve:nth-child(2){
        margin-bottom:2.5625rem;
    }
    .about_wrapper .about-achieve:nth-child(2),
    .about_wrapper .about-achieve:nth-child(4){
        padding-left:0.75rem;
    }

}

@media (max-width: 767px) {
    .banner_wrapper .top-right-sec {
        padding-top: 60px;
        padding-left: 0px;
        padding-bottom: 2px;
        padding-right: -20px;
    }
    .fourthSection .position-relative{
         display: flex;
        align-items: center;
        justify-content: center;
    }
    .about_wrapper .about-achieve:nth-child(2),
    .about_wrapper .about-achieve:nth-child(4){
        padding-left:0.75rem;
    }
    .about_wrapper .about-achieve:nth-child(1),
    .about_wrapper .about-achieve:nth-child(3){
        padding-right:0.75rem;
    }
    /* footer */ 
    .footer_wrapper{ 
        padding-bottom:0;
    }
    .footer_wrapper>div{
        padding:0 1.875rem;
    }
}

@media (max-width: 576px) {
    /* home */ 
    .banner_wrapper .top-right-sec{
        padding: 50px;
    }
    .banner_wrapper .left{
        padding-left: 45px;
    }
    .fourthSection .about-achieve:nth-child(1), .fourthSection .about-achieve:nth-child(2) {
        margin-bottom: 1.5625rem;
    }
    .fourthSection .about-achieve:nth-child(2), .fourthSection .about-achieve:nth-child(4) {
        padding-left: 0.75rem;
    }
}

@media (max-width: 370px) {
    .firstSection {
        flex-direction: column-reverse;
    }
    /* achievements */   
    .fourthSection .card{
        padding:1.25rem .3125rem;
    }
    .fourthSection .about-achieve:nth-child(1), .fourthSection .about-achieve:nth-child(2) {
        margin-bottom: 1.5625rem;
    }
    .fourthSection .about-achieve:nth-child(2),
    .fourthSection .about-achieve:nth-child(4){
        padding-left:.625rem;
    }
    .fourthSection .about-achieve:nth-child(3),
    .fourthSection .about-achieve:nth-child(4){
        margin-top: 1.625rem;
    }
}