@media (max-width: 1199.5px) {

    /* header */ 
    .header_wrapper .navbar-nav .nav-link{
        font-size: 1rem;
    }
    /* top banner */ 
    .banner_wrapper .animate-img .aimg1{
        left:-3.125rem;
    }

    /* achievements */ 
    .fourthSection .card{
        width:100%;
    }

}

@media (max-width:991px) {

    /* 2 Navbar */ 
    .header-scrolled{
        height:auto;
    }
    .header_wrapper .menu-navbar-nav{
        text-align: center;
    }
    .header_wrapper .nav-item .nav-link{
        margin-top:.9375rem;
    }

     /* banner */ 
     .banner_wrapper p{
        max-width: 100%;
    }



    /* achievements */ 
    .fourthSection .about-achieve:nth-child(1),
    .fourthSection .about-achieve:nth-child(2){
        margin-bottom:1.5625rem;
    }
    .about_wrapper .about-achieve:nth-child(2),
    .about_wrapper .about-achieve:nth-child(4){
        padding-left:2.375rem;
    }

}

@media (max-width: 767px) {

    /* footer */ 
    .footer_wrapper{ 
        padding-bottom:0;
    }
    .footer_wrapper>div{
        padding:0 1.875rem;
    }
}

@media (max-width: 360px) {

    /* achievements */   
    .fourthSection .card{
        padding:1.25rem .3125rem;
    }
    .fourthSection .about-achieve:nth-child(2),
    .fourthSection .about-achieve:nth-child(4){
        padding-left:.625rem;
    }

}