* {
    margin: 0;
    padding: 0;
  }

  
:root {
    /* Background Color */
    --primary-color: rgb(18, 18, 62);
    --secondary-color: rgb(170, 107, 228);
    --bg-light-blue: #3672bc;
    --bg-dark: #666;
    --bg-white: #fff;

    /* Text Style */
    --primary-font: 'Roboto Slab', serif;
    --secondary-font: 'Josefin Sans', sans-serif;
    --primary-text: rgb(18, 18, 62);
    --secondary-text: rgb(170, 107, 228);
}

  body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 18, 62);
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: rgb(170, 107, 228);
    font-size: 1.12rem;
  }
  main hr {
    border: 0;
    background: rgb(170, 107, 228);
    height: 1.2px;
    margin: 40px 40px;
  }
  .left {
    font-size: 1.5rem;
  }
  .left a {
    text-decoration: none;
    color: white;
  }
  .left a:hover {
    font-size: 1.75rem;
    color: rgb(170, 107, 228);
    font: bolder;
  }

  /* 2 Navbar */ 
  .header_wrapper {
    background-color: rgb(18, 18, 62);
  }
  .header_wrapper .navbar-brand {
    color: wheat;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .header_wrapper .navbar-brand:hover {
    color: rgb(170, 107, 228);
    font-size: 1.75rem;
    cursor: pointer;
  }
.header_wrapper .navbar{
  padding:.9375rem 0;
  background-color:transparent;
  transition:0.3s ease-in-out;
}
.header_wrapper .navbar-toggler,
.header_wrapper .navbar-toggler:focus{
  border:0;
  box-shadow: none;
  color: white;
  line-height: 2;
}

.header_wrapper .nav-item{
  margin:0 .625rem;
}
.header_wrapper .nav-item .nav-link{
  font-size: 1.125rem;
  font-weight: 400;
  color: wheat;
  display:inline-block;
  font-family: var(--secondary-font);
}
.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:focus,
.header_wrapper .nav-item .nav-link.active{
  color:var(--secondary-text);
  font-size: 1.23rem;
}
.navbar.header-scrolled{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:999;
  background-color: rgb(18, 18, 62);
  box-shadow: .5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
  transition:0.3s ease-in-out;
}
.navbar .nav-btn{
  color: white;
}
.navbar .offcanvas{
  background-color: rgb(18, 18, 62);
}
.navbar .offcanvas-title{
  color: wheat;
}
.navbar .offcanvas-header{
  background-color: rgb(3, 3, 66);
}

  
/* 3 Banner */
.btn{
  padding: 5px;
  background: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
.btn:hover {
  color: white;
  background-color: rgb(18, 18, 62);
}
.banner_wrapper{
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.banner_wrapper .top-right-sec{
  display: flex;
  align-items: flex-end;
  justify-content:center;
  padding: 95px;
}


  .purple {
    color: rgb(170, 107, 228);
  }
  .text-gray {
    color: rgb(170, 107, 228);
  }
  #element {
    color: rgb(170, 107, 228);
  }

  .secondSection {
    max-width: 80vw;
    margin: auto;
  }
  .secondSection h1 {
    font-size: 1.9rem;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
  }

  .vertical {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .image-top {
    width: 30px;
    margin-right: 10px;
  }

  .vertical-title {
    font-size: 0.8rem;
    color: rgb(170, 107, 228);
    font-weight: bold;
  }

  .project_break {
    border: 0;
    background: rgb(170, 107, 228);
    height: 1.2px;
    margin: 40px 40px;
  }


  .thirdSection {
    max-width: 80vw;
    margin: auto;
  }
  .thirdSection h1 {
    font-size: 1.9rem;
  }
  .box2 {
    margin: 25px auto;
  }

  .project_info {
    background-color: rgb(18, 18, 62);
  }
  .project_info span {
    color: rgb(170, 107, 228);
    font: bolder;
    font-size: 1.05rem;
  }

  .project h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font: bolder;
  }

  .github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(170, 107, 228);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 8px;
  }

  .github-button:hover {
    background-color: rgba(128, 14, 235, 0.8);
    color: white;
    font-size: 1.2rem;
  }


  .fourthSection {
    max-width: 80vw;
    margin: auto;
  }
  .fourthSection h1 {
    font-size: 1.9rem;
  }
  .fourthSection .card{
    width:80%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 33);
  }
  .about-achieve {
    flex:0 0 auto;
    width:50%;
    color: black;
  }
  .about-achieve h4 {
    color: rgb(170, 107, 228);
    font: bolder;
    font-size: 1.5rem;
  }
  .about-achieve p {
    color: white;
  }
  .fourthSection .about-achieve:nth-child(1),
  .fourthSection .about-achieve:nth-child(2){
    margin-bottom:2.8125rem;
  }
  .fourthSection .about-achieve:nth-child(2),
  .fourthSection .about-achieve:nth-child(4){
    padding-left:3.75rem;
  }

.fourthSection .line-1,
.fourthSection .line-2{
    content:'';
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:.0313rem;
    height:100%;
    background: rgb(170, 107, 228);
}
.fourthSection .line-2{
    width:100%; 
    height:.0625rem;
}

.footer_wrapper{
    background-color:rgb(0, 0, 33);
    padding-bottom:0;
}
.footer_wrapper h5{
    color:rgb(170, 107, 228);
    font: bolder;
    font-size: 1.5rem;
}
.footer_wrapper .contact-info ul a {
  color:var(--text-white);
  font-size: .875rem;
  padding: 0;
  position:relative;
  text-decoration: none;
  -webkit-transition:all 0.3s ease-out 0s;
  transition:all 0.3s ease-out 0s;
}
.footer_wrapper .contact-info ul a::before {
  content:'\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position:absolute;
    left:0.3rem;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.footer_wrapper .contact-info ul a:hover {
  margin-left:.625rem;
  color:var(--secondary-text);
}
.footer_wrapper ul li{
    margin-bottom:.5rem;
    list-style: none;
    font-size: .875rem;
}
.footer_wrapper ul li a{
    color:var(--text-white);
}
.footer_wrapper .link-widget li a,
.footer_wrapper p{
    color:var(--text-white);
    font-size: .875rem;
    padding-left:1.5rem;
    position:relative;
    text-decoration: none;
    -webkit-transition:all 0.3s ease-out 0s;
    transition:all 0.3s ease-out 0s;
}
.footer_wrapper .link-widget li a::before{
    content:'\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position:absolute;
    left:0.3rem;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.footer_wrapper .link-widget li a:hover{
    margin-left:.625rem;
    color:var(--secondary-text);
}
.footer_wrapper .social-network a{
    width:2.1875rem;
    height:2.1875rem;
    margin:.5rem;
    line-height: 2rem;
    font-size: .875rem;
    display:inline-block;
    border:.125rem solid var(--bg-light-blue);
    color:var(--text-light);
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    -webkit-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer_wrapper .social-network a:hover{
    background-color:var(--secondary-color);
    border-color:var(--secondary-color);
    color:var(--text-white);
    transform:translateY(-0.1875rem);
}

.footer_wrapper .copyright-section{
    background-color: rgb(0, 0, 33);
    padding:2rem 0 1rem;
    text-align: center;
   
}
.footer_wrapper .copyright-section a{
    color:rgb(170, 107, 228);
    font-weight: 600;
    text-decoration: none;
}